<h3><i class="icon_sp icon-instrument"></i> <span style="vertical-align: middle"><%= name %></span></h3>

<div class="row">
  <div class="col-md-12">
    Group: <%= model_info.model_group || "Default" %>
  </div>
  <div class="col-md-12">
    Description: <%= description %>
  </div>
  <div class="col-md-12">
    Location: <%= location.latitude %>, <%= location.longitude %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <br>Agent Status:
    <% if (addl.agent_active) { %>
      <span style="color: green;">ON</span><% if (APP.hasRole("ION.OPERATOR")) { %> - Actions: <a href="#" class="agent-control">STOP</a><% } %>
    <% } else { %>
      <span style="color: orangered;">OFF</span><% if (APP.hasRole("ION.OPERATOR")) { %> - Actions: <a href="#" class="agent-control">START</a><% } %>
    <% } %>
  </div>
</div>

<hr/>

<div id="map-details-chart" style="width:100%; height:250px;"></div>

<div class="row">
  <div class="col-md-12">
    <span class="">
      <i class="fa_icon_button fa fa-area-chart icon-zoom"></i>
      <!--<i class="icon_button icon-zoom"></i>-->
      &nbsp;Show advanced (real-time) graph&nbsp;
    </span>
  </div>
</div>


<hr/>

<h4>Dataset</h4>

<div id="map-details-dataset"></div>

<div class="row">
  <div class="col-md-12">
    <a class="inst-download-ds" data-dsid="<%= _id %>" href="#">Download as HDF5</a>
  </div>
</div>
