<h3><i class="icon_sp icon-instrument"></i> <span style="vertical-align: middle"><%= name %></span></h3>

<div class="row">
  <div class="col-md-12">
    Description: <%= description %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Location: <%= location.latitude %>, <%= location.longitude %>
  </div>
</div>

<hr/>

<div id="map-details-chart" style="width:100%; height:250px;"></div>

<div class="row">
  <div class="col-md-12">
    <span class="">
      <i class="icon_button icon-zoom"></i>
      &nbsp;Show advanced (real-time) graph&nbsp;
    </span>
  </div>
</div>


<hr/>

<h4>Datasets</h4>

<div class="row">
  <div class="col-md-12">
    <a class="inst-download-ds" data-dsid="<%= _id %>" href="#">Download Dataset as HDF</a>
  </div>
</div>
